@font-face {
   font-display: swap;
   font-family: "Antonio";
   font-style: normal;
   font-weight: 400;
   src: url("./assets/fonts/antonio-v19-latin-regular.woff2")
      format("woff2");
}
@font-face {
   font-display: swap;
   font-family: "Antonio";
   font-style: normal;
   font-weight: 500;
   src: url("./assets/fonts/antonio-v19-latin-500.woff2")
      format("woff2");
}
@font-face {
   font-display: swap;
   font-family: "Antonio";
   font-style: normal;
   font-weight: 700;
   src: url("./assets/fonts/antonio-v19-latin-700.woff2")
      format("woff2");
}

@font-face {
   font-display: swap;
   font-family: "League Spartan";
   font-style: normal;
   font-weight: 400;
   src: url("./assets/fonts/league-spartan-v11-latin-regular.woff2")
      format("woff2");
}

body {
   font-family: "League Spartan", sans-serif;
}

.custom-grid {
   grid-template-columns: 3fr 1fr;
}
